@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<div class="row">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="form-group">
                <label for="text">Text</label>
                <textarea class="form-control" name="text" id="text" rows="10"></textarea>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="audioFile">Audio</label>
                <audio controls downloadid="audioFile">
                    <source src="#" type="audio/wav">
                    Your browser does not support the audio element.
                </audio>
            </div>
        </div>
    </div>
</div>
